{% extends "layout.html" %}
{% block title %}Logistic Map{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content_header %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Logistic Equation Calculator</h1>
    <p>click-drag to zoom into regions of interest

{% endblock %}
{% block footer %}
    <p><a href="/">Start Over</a></p>
    <p class="internal">
        See: <a href="https://en.wikipedia.org/wiki/Logistic_map">https://en.wikipedia.org/wiki/Logistic_map</a>
    <p>
        Xn+1 = R*Xn(1-Xn)
        where Xn is a number between zero and one that represents the ratio of existing population
        to the maximum possible population. The values of interest for the parameter
        R are those in the interval 0,4
    <p>
        This code is free for anyone, available on <a href="https://github.com/adamtracy/demo_logistic">GitHub.</a>
{% endblock %}

{% block postscript %}
<!-- you have to load your d3 code *after* the basic HTML DOM structure has been
     loaded, otherwise you will get a blank stare -->
 <script type="text/javascript" src="{{ url_for('static', filename='logistic.js') }}"></script>
{% endblock %}
