{% extends "layout.html" %}
{% block title %}{{ super() }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content_header %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1>Demo Home</h1>
{% endblock %}
{% block footer %}
<p>This is a demo site where I'm practicing Flask application development.  I'm using the
    fractal plot of the Logistic Map as a means of exploring this framework.
</p>
<p>Topics covered include</p>
<ul>
    <li>Templating</li>
    <li>Authentication via OAuth -- presently only Google Authentication allowed</li>
    <li>D3JS visualization in Javascript</li>
    <li>RESTful data fetch via AJAX</li>
</ul>
    <p><a href="/logistic_equation">Visit the Logistic Equation</a> </p>
{% endblock %}

{% block postscript %}
  {% if not user.is_anonymous %}
    <p>User {{ user.username }}  <a href="/logout">Logout</a> </p>
  {% else %}
            <a href={{ url_for('oauth_authorize', provider='google') }}>
            <img src="{{ url_for('static', filename='img/btn_google_signin_dark_normal_web.png') }}" />
        </a>
  {% endif %}
<p>This code is available on <a href="https://github.com/adamtracy/demo_logistic">GitHub</a>.</p>
{% endblock %}